.sidebar {
  text-transform: uppercase;
  font-size: small;
}

.sidebar-bg {
  background-image: url('../images/sidebar.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.sidebar-bg .sidebar__rgba {
  height: 100%;
  /* background-color: rgba(0, 0, 0, 0.33); */
  background: #787878;
  background: -moz-linear-gradient(top, #787878 0%, rgba(52, 52, 52, 0.6) 100%);
  background: -webkit-linear-gradient(top, #787878 0%, rgba(52, 52, 52, 0.6) 100%);
  background: -o-linear-gradient(top, #787878 0%, rgba(52, 52, 52, 0.6) 100%);
  background: -ms-linear-gradient(top, #787878 0%, rgba(52, 52, 52, 0.6) 100%);
  background: linear-gradient(to top, #787878 0%, rgba(52, 52, 52, 0.6) 100%);
}

.sidebar-bg .sidebar__rgba a {
  color: #fff;
  text-decoration: none;
}

.nav-pills .nav-link:not(.active):hover {
  color: #fff !important;
  background-color: rgba(255, 255, 255, 0.23)
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.23) !important;
}

.layout-fixed .brand-link {
  border-bottom: 1px solid #988981;
}
